# Python bytecode files
__pycache__/
*.pyc

# Virtual environment directories
venv/
env/

# Home Assistant configuration
.homeassistant/

# HACS (Home Assistant Community Store) directories
custom_components/

# .idea directory (for JetBrains IDEs)
.idea/

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
